body {
	font-family: 'Noto Sans TC', sans-serif;
}
/* intro-area */
.main-container{
    width: 100%;
    height: 75vh;
}
.right-content{
    position: absolute;
    top: 150px;
    right: 250px;
    width: 30%;
    height: 400px;
    /* background-image: url(../images/502994.jpg); */
    background-size: cover;
    background-position: top center; /* Center the image */
    border-radius: 25px;
}
.left-content{
    width: 40%;
    height: 500px;
    border: #5788B6 10px solid;
    border-radius: 45px;
    margin-top: 100px;
    margin-left: 250px;
    position: relative; 
}
.text-area{
   width: 400px;
   height:480px;
   margin: 0 auto;
}

.title1{
    color: #5788B6;
    margin-top: 50px;
    padding-left: 50px;
}
.title1 h1{
    font-size: 4rem;
}
.title2{
    padding-left: 115px;
}
.title2 h1{
    font-size: 4rem;
}
.intro-area{
    width: 66%;
    margin-left:50px;
    margin-top: 30px;
}
.intro-area p{
    font-size: 1.1rem;
    font-weight:500;
}

/* brand-area */
.brand-title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.brand-content{
    width: 100%;
    height: 290px;
    display: flex;
    padding: 0 200px;
    /* justify-content: space-between; */
}
.brand1{
    width: 33.333%;

}
.brand2{
    width: 33.333%;

}
.brand3{
    width: 33.333%;
}
.imgbox1 img{
    width:80%;
    height: 300px;
    margin: 0 auto;
    /* background-image: url(../images/badminton_icon1.png); */
    background-size: contain;
    background-repeat: no-repeat;
}
.imgbox2 img{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    /* background-image: url(../images/badminton_icon2.png); */
    background-size: contain;
    background-repeat: no-repeat;
}
.imgbox3 img{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    /* background-image: url(../images/badminton_icon3.png); */
    background-size: contain;
    background-repeat: no-repeat;
}
/* process-content */
.process-content{
    width: 100%;
    height: 70vh;
    display: flex;
    /* border: 1px black solid; */
    padding: 0 250px;
}
.process-content img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.process1{
   width: 33.333%; 
}
.process2{
    width: 33.333%; 
}
.process3{
    width: 33.333%; 
}
.imgbox4{
    width: 250px;
    height: 250px;
    margin:0 auto ;
    border-radius:50%;
    background-size: cover;
}
.imgbox5{
    width: 250px;
    height: 250px;
    margin:0 auto ;
    border-radius:50%;
    background-size: cover;
}
.imgbox6{
    width: 250px;
    height: 250px;
    margin:0 auto ;
    border-radius:50%;
    background-size: cover;
}
.text4{
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
.text5{
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}
.text6{
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}
/* intro-content */
.brand-title2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.intro-section{
    width: 100%;
    height: 500px;
    padding:0 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-button{
   width: 400px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px black solid; */
   background-color: #5788B6;
   border-radius: 30px;
}
.left-button:hover{
    background-color: #4663ce;
    transition: all .5s ease;
}
.right-lottie{
    width: 450px;
    height: 350px;
    /* border: 1px black solid; */
    background-image: url(../images/lottie\ test\ ai\ 01\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.button-link{
    display: block;
    width: 50%;
    color: white;
    
}
.button-link:hover{
    text-decoration: none;
    color: white;
}
